/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	margin:0px;
	padding:0px;
}
.clr { clear:both; }
.nav_bar{
	padding:20px;
}
.nav_bar_title{
	font-size: 24px;

	float:left;
}
.nav_bar_menu{
	float:right;
}
.nav_bar_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.nav_bar_menu li{
	display: inline;
	float: left;
	margin-left:10px;
}
.nav_bar_menu a {
	display: block;
	padding: 8px;
	background-color: #dddddd;
	text-decoration: none
}

form {
	background: #EEE;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}
form .field {
    padding: 5px;
    text-align: center;
}
form .field input {
    width: 80%;
    height: 30px;
    background: #FFF;
    border: 1px solid #899;
    border-radius: 5px;
}
form .field label {
	    font-weight: bold;
    text-align: left;
    padding-left: 10%;
}
form .actions {
    padding: 5px;
    text-align: center;
}
form .actions input {
        width: 60%;
    font-weight: bold;
    font-size: 16px;
    color: #333;
    background: #2c2;
    height: 35px;
    border: 0px solid #899;
    border-radius: 5px;
}